In [3]:
x = 10
a,b,c = 100,200,300
print(x)
print(a,b,c)

10
100 200 300

In [4]:
x = 20
print(x)
print(a,b,c)

20
100 200 300

# 자료형

In [5]:
type(10)

int

In [ ]:
type("안녕하세요")

# 연산자

In [7]:
a = 10
b = 20

a*b

200

In [8]:
a-b

-10

In [9]:
a+b

30

In [10]:
a = 2
b = 3

a**b

8

In [11]:
a**5

32

In [13]:
a/3

0.6666666666666666

In [14]:
1+3*5

16

In [15]:
(1+5)

6

In [16]:
3 + 3.0

6.0

In [17]:
x = 3
y = 3.0
z = x + y
print(z)

6.0

In [18]:
type(z)

float

In [20]:
a,b = 7, 3.0
c = a // b
d = a % b
e = a**b
print(c,d,e)

2.0 1.0 343.0

In [21]:
bool(1)

True

In [23]:
bool(0)

False

In [24]:
mike = 80
judy = 75
sera = 100

average = (mike + judy + sera)//3
print(average)

85

In [30]:
a = "323432324"
print(type(a))

b = int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [41]:
True & False

False

In [42]:
False | False

False

In [45]:
 not True

False

In [47]:
print(bool(1))
print(bool(0.0))
print(bool(1.0))
print(bool(0))

True
False
True
False

In [65]:
num1 = int(input("입력1 : "))
num2 = int(input("입력2 : "))
num3 = int(input("입력3 : "))

print(num1>65 and num2>65 and num3>65)

입력1 : 67
입력2 : 87
입력3 : 98
True

# None

In [67]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [69]:
single = "안녕하세요."
print(single)
print(type(single))

안녕하세요.
<class 'str'>

In [70]:
multi = """
안녕하세요.
잘 부탁드립니다.
"""

print(multi)
print(type(multi))

안녕하세요.
잘 부탁드립니다.

<class 'str'>

In [72]:
a = 'hello'
b = 'world'
a+b

'helloworld'

In [73]:
a*3

'hellohellohello'

In [81]:
print('hi\\hello')

hi\hello

In [110]:

quote = 'hello world!'
quote[-2]

'd'

In [116]:
quote[:7]

'hello w'

In [89]:
quote[1:7:2]

'el '

# 문자열 서식 문자

In [99]:
name = "박지훈"
intro = "안녕하세요. 저는 %s입니다. "

print(intro % name)

a = 27.3
age = "제 나이는 %.3f입니다."
print(age % a)

안녕하세요. 저는 박지훈입니다.
제 나이는 27.300입니다.

In [107]:
quote = "안녕하세요. 저는 {0:^10}이고, 키는 {1:^16}입니다." .format("박지훈", "190")
quote

'안녕하세요. 저는    박지훈    이고, 키는       190       입니다.'

In [109]:

name = "박지훈"
loc = "수원"

intro = f"저는 {name}이고 {loc}에 삽니다."
intro

'저는 박지훈이고 수원에 삽니다.'

In [123]:
a = "20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:22]

print(year, day, menu, money, sep = ' ')

2019 0505 chicken 19000

In [127]:
a = "90:30:80"

math = int(a[:2])
english = int(a[3:5])
science = int(a[6:8])

average = (math + english + science)//3
average

66

# 문자열 함수

In [128]:
word = "Apple banana"
len(word)

12

In [129]:
word.index('l')

3

In [132]:
upper_word = word.upper()
upper_word.lower()

'apple banana'

In [136]:
word.replace("Ap", "DJ")

'DJple banana'

In [140]:
word.count('a')

3

In [144]:
word = "  " + word
word

'        Apple banana'

In [145]:
word.strip()

'Apple banana'

In [149]:
word.strip()

'Apple banana'

In [157]:
fruits = "pear, apple, mango, watermelon"
fruits_list = fruits.split(",")
fruits_list
type(fruits_list)
fruits_list[0]
size = len(fruits_list)
size

4

In [162]:
"".join(fruits_list)

'pear apple mango watermelon'

In [166]:
a = "   90:30:80"

a_strip = a.strip()
score_list = a.split(":")

average = (int(score_list[0])+int(score_list[1])+int(score_list[2]))/len(score_list)
average

66.66666666666667

In [169]:
a = [1,2,3,"a","b","c"]
type(a)

a[0] = 0
a

[0, 2, 3, 'a', 'b', 'c']

In [173]:
tuple_a = (1,2,3,4,"a")
type(tuple_a)

tuple

In [178]:
dict_me = {
    "name": "박지훈",
    "height": 180,
    "address": "수원",
}
dict_me["height"]

180

In [179]:
a = [1,2,3,4]
b = (1,2,3,4)

print(a[2])
print(b[1])

3
2

# range

In [180]:
range(10)

range(0, 10)

In [181]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [184]:
list(range(2,10,2))

[2, 4, 6, 8]

In [189]:
list(range(5,-10,-1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

# 리스트

In [190]:
list1 = ["a", "b", "c", "d"]

list1[3]

'd'

In [191]:
list1[-2]

'c'

In [194]:
list1[:2]

['a', 'b']

In [196]:
list1[1] = 4
list1

['a', 4, 'c', 'd']

In [199]:
list1[1:3] = [1,2]
list1

['a', 1, 2, 'd']

In [212]:
list1(range(1,10))

TypeError: 'range' object is not callable

In [211]:
empty_list = []
empty_list.append(1)
empty_list

[1]

In [214]:
empty_list.append(3)

In [217]:
empty_list.pop()

1

In [219]:
empty_list

[]

In [222]:
empty_list.append(1)

In [223]:
empty_list

[1]

In [224]:
empty_list.append(3)

In [225]:
empty_list

[1, 3]

In [226]:
empty_list.extend(["a","b","c"])

In [227]:
empty_list

[1, 3, 'a', 'b', 'c']

In [253]:
a = [1]
new_list = ["a", "b", "c"]

a = a+new_list
a

[1, 'a', 'b', 'c']

In [251]:
new_list.pop()

'c'

In [254]:
new_list

['a', 'b', 'c']

In [256]:
new_list.index("b")

1

In [261]:
new_list.count("b")

1

In [271]:
new_list.reverse()

In [272]:
new_list

['a', 'b', 'c']

In [273]:
sort_list = [3, 1, 5, 2, 3, 7, 9]
sort_list.sort()

In [274]:
sort_list

[1, 2, 3, 3, 5, 7, 9]

In [277]:
sort_list.reverse()

In [278]:
sort_list

[1, 2, 3, 3, 5, 7, 9]

# list 복사

In [302]:
list_a = [1,2,3,4]
list_a

[1, 2, 3, 4]

In [303]:
list_b = list_a.copy()
list_b

[1, 2, 3, 4]

In [305]:
a = 1
b = 3

In [306]:
a += 1
a
b += 3
b

6

In [307]:
list_b[2] = b
list_b

[1, 2, 6, 4]

In [308]:
list_a

[1, 2, 3, 4]


# 다차원 리스트

In [309]:
dim2_list = [[1,2],[3,4]]

In [310]:
dim2_list[0]

[1, 2]

In [311]:
dim2_list[0][1]

2

In [313]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

[[1, 2], [3, 4]]

In [314]:
a = (1,2,3)
b = list(a)
b[0] = 5
a

(1, 2, 3)

In [315]:
b

[5, 2, 3]

# 딕셔너리

In [338]:
a = {
    "name": "Tom",
    "score": 80,
    "average" : 65,
}
print(a)

{'name': 'Tom', 'score': 80, 'average': 65}

In [325]:
b = dict(name = "Tomy", score = 80, average = 43)
b

{'name': 'Tomy', 'score': 80, 'average': 43}

In [327]:
"name" in a

True

In [331]:
len(b)

3

In [333]:
c = dict(name = "Bread",
        score = [23,53,54],
        )
len(c)

2

In [339]:
b["score"] = 49
b

{'name': 'Tomy', 'score': 49, 'average': 43}