In [ ]:
x = 10
a,b,c = 100,200,300
print(x)
print(a,b,c)

In [ ]:
x = 20
print(x)
print(a,b,c)

# 자료형

In [ ]:
type(10)

In [ ]:
type("안녕하세요")

# 연산자

In [ ]:
a = 10
b = 20

a*b

In [ ]:
a-b

In [ ]:
a+b

In [ ]:
a = 2
b = 3

a**b

In [ ]:
a**5

In [ ]:
a/3

In [ ]:
1+3*5

In [ ]:
(1+5)

In [ ]:
3 + 3.0

In [ ]:
x = 3
y = 3.0
z = x + y
print(z)

In [ ]:
type(z)

In [ ]:
a,b = 7, 3.0
c = a // b
d = a % b
e = a**b
print(c,d,e)

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
mike = 80
judy = 75
sera = 100

average = (mike + judy + sera)//3
print(average)

In [ ]:
a = "323432324"
print(type(a))

b = int(a)
print(type(b))

In [ ]:
True & False

In [ ]:
False | False

In [ ]:
 not True

In [ ]:
print(bool(1))
print(bool(0.0))
print(bool(1.0))
print(bool(0))

In [ ]:
num1 = int(input("입력1 : "))
num2 = int(input("입력2 : "))
num3 = int(input("입력3 : "))

print(num1>65 and num2>65 and num3>65)

# None

In [ ]:
x = None
print(x)
print(type(x))

In [ ]:
single = "안녕하세요."
print(single)
print(type(single))

In [ ]:
multi = """
안녕하세요.
잘 부탁드립니다.
"""

print(multi)
print(type(multi))

In [ ]:
a = 'hello'
b = 'world'
a+b

In [ ]:
a*3

In [ ]:
print('hi\\hello')

In [ ]:

quote = 'hello world!'
quote[-2]

In [ ]:
quote[:7]

In [ ]:
quote[1:7:2]

# 문자열 서식 문자

In [ ]:
name = "박지훈"
intro = "안녕하세요. 저는 %s입니다. "

print(intro % name)

a = 27.3
age = "제 나이는 %.3f입니다."
print(age % a)

In [ ]:
quote = "안녕하세요. 저는 {0:^10}이고, 키는 {1:^16}입니다." .format("박지훈", "190")
quote

In [ ]:

name = "박지훈"
loc = "수원"

intro = f"저는 {name}이고 {loc}에 삽니다."
intro

In [ ]:
a = "20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:22]

print(year, day, menu, money, sep = ' ')

In [ ]:
a = "90:30:80"

math = int(a[:2])
english = int(a[3:5])
science = int(a[6:8])

average = (math + english + science)//3
average

# 문자열 함수

In [ ]:
word = "Apple banana"
len(word)

In [ ]:
word.index('l')

In [ ]:
upper_word = word.upper()
upper_word.lower()

In [ ]:
word.replace("Ap", "DJ")

In [ ]:
word.count('a')

In [ ]:
word = "  " + word
word

In [ ]:
word.strip()

In [ ]:
word.strip()

In [ ]:
fruits = "pear, apple, mango, watermelon"
fruits_list = fruits.split(",")
fruits_list
type(fruits_list)
fruits_list[0]
size = len(fruits_list)
size

In [ ]:
"".join(fruits_list)

In [ ]:
a = "   90:30:80"

a_strip = a.strip()
score_list = a.split(":")

average = (int(score_list[0])+int(score_list[1])+int(score_list[2]))/len(score_list)
average

In [ ]:
a = [1,2,3,"a","b","c"]
type(a)

a[0] = 0
a

In [ ]:
my_tuple= (1,)
type(my_tuple)

# 연산자 보충

In [ ]:
a = 1
b = 2
a += 1
print(a)

In [ ]:
tuple_a = (1,2,3,4,"a")
type(tuple_a)

In [ ]:
dict_me = {
    "name": "박지훈",
    "height": 180,
    "address": "수원",
}
dict_me["height"]

In [ ]:
a = [1,2,3,4]
b = (1,2,3,4)

print(a[2])
print(b[1])

# range

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(2,10,2))

In [ ]:
list(range(5,-10,-1))

# 리스트

In [ ]:
list1 = ["a", "b", "c", "d"]

list1[3]

In [ ]:
list1[-2]

In [ ]:
list1[:2]

In [ ]:
list1[1] = 4
list1

In [ ]:
list1[1:3] = [1,2]
list1

In [ ]:
list1(range(1,10))

In [ ]:
empty_list = []
empty_list.append(1)
empty_list

In [ ]:
empty_list.append(3)

In [ ]:
empty_list.pop()

In [ ]:
empty_list

In [ ]:
empty_list.append(1)

In [ ]:
empty_list

In [ ]:
empty_list.append(3)

In [ ]:
empty_list

In [ ]:
empty_list.extend(["a","b","c"])

In [ ]:
empty_list

In [ ]:
a = [1]
new_list = ["a", "b", "c"]

a = a+new_list
a

In [ ]:
new_list.pop()

In [ ]:
new_list

In [ ]:
new_list.index("b")

In [ ]:
new_list.count("b")

In [ ]:
new_list.reverse()

In [ ]:
new_list

In [ ]:
sort_list = [3, 1, 5, 2, 3, 7, 9]
sort_list.sort()

In [ ]:
sort_list

In [ ]:
sort_list.reverse()

In [ ]:
sort_list

# list 복사

In [ ]:
list_a = [1,2,3,4]
list_a

In [ ]:
list_b = list_a.copy()
list_b

In [ ]:
a = 1
b = 3

In [ ]:
a += 1
a
b += 3
b

In [ ]:
list_b[2] = b
list_b

In [ ]:
list_a


# 다차원 리스트

In [ ]:
dim2_list = [[1,2],[3,4]]

In [ ]:
dim2_list[0]

In [ ]:
dim2_list[0][1]

In [ ]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

In [ ]:
a = (1,2,3)
b = list(a)
b[0] = 5
a

In [ ]:
b

# 딕셔너리

In [ ]:
a = {
    "name": "Tom",
    "score": 80,
    "average" : 65,
}
print(a)

In [ ]:
b = dict(name = "Tomy", score = 80, average = 43)
b

In [ ]:
"name" in a

In [ ]:
len(b)

In [ ]:
c = dict(name = "Bread",
        score = [23,53,54],
        )
len(c)

In [ ]:
b["score"] = 49
b

In [ ]:
from pprint import pprint

In [ ]:
pprint(c)

# 값 추가하기

In [ ]:
c["location"] = "Suwon"

In [ ]:
c

In [ ]:
c["location"] = "Seoul"

In [ ]:
c

In [ ]:
c.keys()

In [ ]:
c.values()

In [ ]:
c.items()

In [ ]:
c.clear()

In [ ]:
c

In [ ]:
c.get("name")

In [ ]:
c.get("weight")

In [ ]:
c.get("weight", 72)
c.get("weight")

In [ ]:
c

# dictionary 2

In [ ]:
c

In [ ]:
len(c)

In [ ]:
"weight" in c

In [ ]:
a_list =[1,2,3,4,5]
a_list

In [ ]:
1 in a_list

In [ ]:
6 in a_list

In [ ]:
not 6 in a_list

In [ ]:
"weight" not in c

In [ ]:
c.setdefault("weight", 72)

In [ ]:
c

In [ ]:
c.setdefault("weight", 80)

# 값이 있을 경우 바뀌지 않는다.

In [ ]:
c["weight"] = 80

In [ ]:
c

In [ ]:
c.update({"age" : 24, "birth" : 1212})

In [ ]:
c

In [ ]:
c.keys()

In [ ]:
c.values()

In [ ]:
c.pop("weight")

In [ ]:
c

# copy

In [ ]:
a = list(range(5))

In [ ]:
b = a.copy()
b

In [ ]:
b[0] = 5
print(a)
print(b)

# set

In [ ]:
animal = {"monkey","monkey", "dog", "rabbit"}
animal

# 집합 연산

In [ ]:
s1 = {1,2,3}
s2 = {2,4,5}

In [ ]:
print(s1&s2)

In [ ]:
print(s1|s2)

In [ ]:
print(s1 - s2)

In [ ]:
print(s2 - s1)

In [ ]:
a_str = "abcd"
"a" in a_str

In [ ]:
print(s1^ s2)
# 대칭 차집합

In [ ]:
s1 = {1,2,3}
s2 = {0,1,2,3,4,5}

s1 <= s2

In [ ]:
s1.issubset(s2)

In [ ]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.isdisjoint(s2)

In [ ]:
s1

In [ ]:
s1.add(4)

In [ ]:
s1

In [ ]:
s1.remove(1)

In [ ]:
s1

In [ ]:
s1.discard(3)

In [ ]:
s1

# 조건문 if

In [ ]:
a = 10

if a == 5:
    print("a는 5입니다.")

if a == 10:
    print("a는 10입니다.")

In [ ]:
# pass문은 생각나지 않을 경우 사용

a = 10
if a == 10:
    pass

print("코드가 실행되었습니다.")

In [ ]:
str_1 = "Life is too short."

In [ ]:
if str_1:
    print("실행되었습니다.")

In [ ]:
ㅣ1 = []

In [ ]:
if l1:
    print("비었네?")

if not l1:
    print("비었어요.")

In [ ]:
if None:
    print("이건 None이에요.")

In [ ]:
a = input("정수1: ")    
b = input("정수2: ")
c = input("정수3: ")

a = int(a)
b = int(b)
c = int(c)

if a not in range(101) or b not in range(101) or c not in range(101):
    print("잘못된 점수가 입력되었습니다.")
    
elif a > 65 and b > 65 and c > 65:
    print("합격")

else :
    print("불합격")

In [ ]:
a = int(input("정수를 입력해주세요 : "))

if a == 0:
    print("애매합니다.")
elif a % 2 == 0:
    print("짝수입니다.")
else :
    print("홀수입니다.")

# for문

In [ ]:
for i in range(0,10):
    print("현재값: ",i)

In [ ]:
for a in ["a", "b", "c", "d", "e"]:
    print(a)

In [ ]:
a = int(input("정수를 입력하세요 : "))

for i in range(a):
    print("안녕")

In [ ]:
a = int(input("정수를 입력하세요 : "))

for i in range(1, a+1):
    print("*"*(i))

In [ ]:
a = int(input("정수를 입력하세요 : "))

for i in range(a, 0, -1):
    print("*"*(i))

# enumerate()

In [ ]:
a = ["a", "b", "c", "d", "e"]

In [ ]:
for idx, value in enumerate(a):
    print(idx,value,sep=",")

# for문 list, tuple, set

In [ ]:
l1 = [1, 2, 3, 4]

for idx,val in enumerate(l1):
    a = val * 10
    print(a)
    l1[idx] *= 10
    
l1
    # index로 접근함

# for문 dictionary

In [ ]:
# key값으로 접근함

# for문의 중첩

In [ ]:
x = [3,6,9,20,-7,5]

for idx, val in enumerate(x):
    x[idx] *= 10
print(x)

In [ ]:
x = [3,4,5,6,7,8]

for i in x:
    print(i)

In [ ]:
y = {
    "math" : 70,
    "science" : 80,
    "english" : 20
}

for i in y:
    print(i, ":",y[i]+10)
    y[i] += 10
    
y

In [ ]:
a = int(input("값을 입력해주세요 : "))

for p in range(1,10):
        print(a, "*", p, "=", a*p)

In [ ]:
a = int(input("값을 입력해주세요 : "))

for p in range(1,10):
    print("{0} * {1} = {2}". format(a,p,a*p))

In [ ]:
a = [2,4,6,7,5,8]
b = 0
for i in a:
    a[b] *= 10
    b += 1
a

In [ ]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]
new_word = word.copy()

for idx, value in enumerate(word):
   
    if len(word[idx]) < 6:
        new_word.remove(value)
    else:
        pass
new_word

In [ ]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]
new_word = []
for idx, value in enumerate(word):
    if len(word[idx]) >= 6:
        new_word.append(value)
        
        
        
new_word

In [ ]:
"science" in new_word

In [ ]:
a = int(input("숫자를 입력하세요 : "))

for i in range(1,a+1):
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 공배수입니다.")
    elif i % 3 == 0:
        print("3의 배수입니다.")
    elif i % 5 == 0:
        print("5의 배수입니다.")
    else:
        print(i)

# while문

In [ ]:
i = 0
while i < 10:
    print("-------------")
    print(i)
    i += 1

In [ ]:
i = 0

while i != 5:
    i = int(input("5를 입력하면 반복이 중단됩니다."))
    print(i, "를 입력하셨습니다.")
    
print("중단")

In [ ]:
i = "0"
sum1 = 0

while str(i) != "s" and str(i) != "S":
    sum1 += int(i)
    i = input("값을 입력해주세요 : ")
    
print("합계는", sum1)

# random함수

In [21]:
#### import random

user = 1
win = 0
lose = 0
draw = 0
count = 0
while user >= 1 and user <= 3:
    count += 1
    com = random.randint(1,3)
    user = int(input("가위(1), 바위(2), 보(3)를 입력해주세요! : "))
    print("유저 : ", user, "컴퓨터 : ", com)
    if(user == 3 and com == 1):
        lost += 1
    elif(user == 3 and com == 2):
        win += 1
    elif(user == 3 and com == 3):
        draw += 1
    elif(user == 2 and com == 1):
        win += 1
    elif(user == 2 and com == 2):
        draw += 1
    elif(user == 2 and com == 3):
        lose += 1
    elif(user == 1 and com == 1):
        draw += 1
    elif(user == 1 and com == 2):
        lose += 1
    elif(user == 1 and com == 3):
        win += 1

count -= 1
print("게임종료(전체:", count, ", 승리:", win, ", 비김:", draw, ")")

가위(1), 바위(2), 보(3)를 입력해주세요! : 2
유저 :  2 컴퓨터 :  1
가위(1), 바위(2), 보(3)를 입력해주세요! : 3
유저 :  3 컴퓨터 :  3
가위(1), 바위(2), 보(3)를 입력해주세요! : 1
유저 :  1 컴퓨터 :  2
가위(1), 바위(2), 보(3)를 입력해주세요! : 4
유저 :  4 컴퓨터 :  3
게임종료(전체: 3 , 승리: 1 , 비김: 1 )

In [49]:
import random
maxcount = 0
max_list = []
max1 = 0
num = 0
while maxcount < 100:
    num = random.randint(1,1000)
    if max1 < num:
        max1 = num
    maxcount += 1    
    max_list.append(num)

print(max1)
print(max_list)

998
[689, 15, 912, 882, 998, 725, 673, 185, 336, 978, 702, 8, 546, 970, 997, 311, 874, 854, 860, 290, 24, 639, 268, 767, 131, 378, 125, 934, 800, 944, 425, 781, 199, 863, 393, 396, 655, 584, 852, 636, 507, 737, 690, 442, 650, 395, 525, 174, 317, 509, 905, 354, 457, 691, 400, 688, 182, 229, 782, 198, 20, 172, 50, 887, 14, 116, 370, 559, 107, 393, 304, 645, 978, 683, 816, 323, 533, 881, 749, 96, 432, 685, 203, 396, 821, 713, 66, 267, 953, 179, 187, 141, 476, 425, 527, 920, 109, 762, 597, 307]

In [50]:
import random
maxcount = 0
max_list = []
sum1 = 0
num = 0
while maxcount < 100:
    num = random.randint(1,1000)
    sum1 += num
    maxcount += 1    
    max_list.append(num)

print(sum1)
print(max_list)

50831
[387, 713, 621, 739, 544, 956, 731, 509, 183, 507, 365, 112, 135, 259, 797, 142, 619, 543, 550, 418, 138, 106, 606, 765, 562, 884, 80, 846, 155, 481, 690, 479, 354, 665, 738, 652, 22, 985, 475, 692, 814, 772, 975, 937, 769, 972, 30, 682, 510, 480, 670, 952, 999, 574, 164, 30, 233, 222, 780, 942, 569, 363, 920, 530, 253, 175, 54, 928, 65, 511, 487, 549, 40, 168, 261, 384, 526, 829, 260, 752, 974, 305, 648, 162, 285, 419, 510, 880, 776, 799, 280, 919, 7, 959, 15, 110, 763, 113, 381, 190]

# 리스트 컴프리핸션

In [52]:
a = [i * j for i in range(10,12) for j in range(1,10)]
a

[10, 20, 30, 40, 50, 60, 70, 80, 90, 11, 22, 33, 44, 55, 66, 77, 88, 99]

# list to dict

In [59]:
keys = ["name", "age", "address"]
users = ["tom", 20, "Suwon"]

In [57]:
user_dict = {keys[i]:users[i] for i in range(len(keys))}
user_dict

{'name': 'tom', 'age': 20, ' address': 'Suwon'}

In [61]:
dic = list(zip(keys, users))
dic

[('name', 'tom'), ('age', 20), ('address', 'Suwon')]

In [68]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]
new_word = [i for i in word if len(i) >= 6]
new_word

['school', 'science', 'mountain']

In [80]:
a = [[10,20],[30,40],[50,60]]
b = [[2,3], [4,5], [6,7]]
c = []
i = 0

while i < len(a):
    x1, y1 = a[i]
    x2, y2 = b[i]
    line = []
    line.append(x1*x2)
    line.append(y1*y2)
    c.append(line)
    i += 1

print(c)

[[20, 60], [120, 200], [300, 420]]

In [81]:
a = []
b = 0
for i in range(3):
    line = []
    
    for j in range(2):
        b += 1
        line.append(b)
    a.append(line)
    
print(a)

[[1, 2], [3, 4], [5, 6]]

# break, continue

In [88]:
num = int(input("숫자를 입력하세요. : "))
i = 0
while True:
    if i == num:
        break
    print("hi")
    i += 1

숫자를 입력하세요. : 5
hi
hi
hi
hi
hi

In [89]:
num = int(input("숫자를 입력하세요. : "))
for i in range(1,num+1):
    if i % 2 != 0:
        continue
    else:
        print(i)

숫자를 입력하세요. : 10
2
4
6
8
10

# 입출력

In [94]:
print("안녕하세요"," 파이썬 세상에 오신 것을 환영합니다.", sep = ",")

안녕하세요, 파이썬 세상에 오신 것을 환영합니다.

In [96]:
print("제 이름은 %s 입니다" %"지훈")

제 이름은 지훈 입니다

In [104]:
print("저는 %s에 살고, %s살입니다." %("수원",27))

저는 수원에 살고, 27살입니다.

# 파일 입출력

### 파일 쓰기

In [106]:
file = open("my_file.txt", "w")
file.write("This is my file")
file.close()

### 파일 읽기

In [111]:
file = open("my_file.txt", "r")
read_str = file.read()
print(read_str)
file.close()

this is your file

# 파일 여러 줄 쓰기

In [113]:
target_str = """
안녕하세요. 반갑습니다. 
저는 박지훈입니다."""
file = open("my_second_file.txt", "w")
file.write(target_str)
file.close()

# 파일 모드

In [ ]:
file = open("<파일명>", "w")
# = file = open("<파일명>", "wt")

file = open("<파일명>", "wb")

In [ ]:
file = open("<파일명>", "w+")
# 읽을수도 있고 쓸수도 있음
file = open("<파일명>", "r+")
file = open("<파일명>", "a+")

In [115]:
file = open("my_file.txt", "r")
txt_file = file.read()
print(txt_file)
file.close()

this is your file

# file mode+

In [126]:
file = open("my_file.txt", "r+")
txt_file = file.write("파일 수정할게요.")
file.close()

In [122]:
file = open("my_file.txt", "w+")
file.write("파일 쓰기 연습입니다.")
txt_file = file.read()
print(txt_file)
file.close()

In [129]:
with open("my_file.txt", "w") as f:
    f.write("예제 파일입니다. \n재미있는 파이썬")

# close를 까먹지 않도록 자동적으로 파일을 닫아주는 역할을 하는 with

In [133]:
with open("my_file.txt", "r") as f:
    line = f.readline()
    while line:
        print(line)
        line = f.readline()

예제 파일입니다.

재미있는 파이썬

In [135]:
with open("my_file.txt", "r") as f:
    line = f.readlines()
    print(line)

['예제 파일입니다. \n', '재미있는 파이썬']

In [137]:
str_var = "".join(line)
print(str_var)

예제 파일입니다.
재미있는 파이썬

In [138]:
line

['예제 파일입니다. \n', '재미있는 파이썬']

In [140]:
with open("my_write_example.txt", "w") as f:
    f.writelines(line)