In [3]:
x = 10
a,b,c = 100,200,300
print(x)
print(a,b,c)

10
100 200 300

In [4]:
x = 20
print(x)
print(a,b,c)

20
100 200 300

# 자료형

In [5]:
type(10)

int

In [1]:
type("안녕하세요")

str

# 연산자

In [7]:
a = 10
b = 20

a*b

200

In [8]:
a-b

-10

In [9]:
a+b

30

In [10]:
a = 2
b = 3

a**b

8

In [11]:
a**5

32

In [13]:
a/3

0.6666666666666666

In [14]:
1+3*5

16

In [15]:
(1+5)

6

In [16]:
3 + 3.0

6.0

In [17]:
x = 3
y = 3.0
z = x + y
print(z)

6.0

In [18]:
type(z)

float

In [20]:
a,b = 7, 3.0
c = a // b
d = a % b
e = a**b
print(c,d,e)

2.0 1.0 343.0

In [21]:
bool(1)

True

In [23]:
bool(0)

False

In [24]:
mike = 80
judy = 75
sera = 100

average = (mike + judy + sera)//3
print(average)

85

In [30]:
a = "323432324"
print(type(a))

b = int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [41]:
True & False

False

In [42]:
False | False

False

In [45]:
 not True

False

In [47]:
print(bool(1))
print(bool(0.0))
print(bool(1.0))
print(bool(0))

True
False
True
False

In [65]:
num1 = int(input("입력1 : "))
num2 = int(input("입력2 : "))
num3 = int(input("입력3 : "))

print(num1>65 and num2>65 and num3>65)

입력1 : 67
입력2 : 87
입력3 : 98
True

# None

In [67]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [69]:
single = "안녕하세요."
print(single)
print(type(single))

안녕하세요.
<class 'str'>

In [70]:
multi = """
안녕하세요.
잘 부탁드립니다.
"""

print(multi)
print(type(multi))

안녕하세요.
잘 부탁드립니다.

<class 'str'>

In [72]:
a = 'hello'
b = 'world'
a+b

'helloworld'

In [73]:
a*3

'hellohellohello'

In [81]:
print('hi\\hello')

hi\hello

In [110]:

quote = 'hello world!'
quote[-2]

'd'

In [116]:
quote[:7]

'hello w'

In [89]:
quote[1:7:2]

'el '

# 문자열 서식 문자

In [99]:
name = "박지훈"
intro = "안녕하세요. 저는 %s입니다. "

print(intro % name)

a = 27.3
age = "제 나이는 %.3f입니다."
print(age % a)

안녕하세요. 저는 박지훈입니다.
제 나이는 27.300입니다.

In [107]:
quote = "안녕하세요. 저는 {0:^10}이고, 키는 {1:^16}입니다." .format("박지훈", "190")
quote

'안녕하세요. 저는    박지훈    이고, 키는       190       입니다.'

In [109]:

name = "박지훈"
loc = "수원"

intro = f"저는 {name}이고 {loc}에 삽니다."
intro

'저는 박지훈이고 수원에 삽니다.'

In [123]:
a = "20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:22]

print(year, day, menu, money, sep = ' ')

2019 0505 chicken 19000

In [127]:
a = "90:30:80"

math = int(a[:2])
english = int(a[3:5])
science = int(a[6:8])

average = (math + english + science)//3
average

66

# 문자열 함수

In [128]:
word = "Apple banana"
len(word)

12

In [129]:
word.index('l')

3

In [132]:
upper_word = word.upper()
upper_word.lower()

'apple banana'

In [136]:
word.replace("Ap", "DJ")

'DJple banana'

In [140]:
word.count('a')

3

In [144]:
word = "  " + word
word

'        Apple banana'

In [145]:
word.strip()

'Apple banana'

In [149]:
word.strip()

'Apple banana'

In [157]:
fruits = "pear, apple, mango, watermelon"
fruits_list = fruits.split(",")
fruits_list
type(fruits_list)
fruits_list[0]
size = len(fruits_list)
size

4

In [162]:
"".join(fruits_list)

'pear apple mango watermelon'

In [166]:
a = "   90:30:80"

a_strip = a.strip()
score_list = a.split(":")

average = (int(score_list[0])+int(score_list[1])+int(score_list[2]))/len(score_list)
average

66.66666666666667

In [169]:
a = [1,2,3,"a","b","c"]
type(a)

a[0] = 0
a

[0, 2, 3, 'a', 'b', 'c']

In [4]:
my_tuple= (1,)
type(my_tuple)

tuple

# 연산자 보충

In [6]:
a = 1
b = 2
a += 1
print(a)

2

In [173]:
tuple_a = (1,2,3,4,"a")
type(tuple_a)

tuple

In [178]:
dict_me = {
    "name": "박지훈",
    "height": 180,
    "address": "수원",
}
dict_me["height"]

180

In [179]:
a = [1,2,3,4]
b = (1,2,3,4)

print(a[2])
print(b[1])

3
2

# range

In [180]:
range(10)

range(0, 10)

In [181]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [184]:
list(range(2,10,2))

[2, 4, 6, 8]

In [189]:
list(range(5,-10,-1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

# 리스트

In [190]:
list1 = ["a", "b", "c", "d"]

list1[3]

'd'

In [191]:
list1[-2]

'c'

In [194]:
list1[:2]

['a', 'b']

In [196]:
list1[1] = 4
list1

['a', 4, 'c', 'd']

In [199]:
list1[1:3] = [1,2]
list1

['a', 1, 2, 'd']

In [212]:
list1(range(1,10))

TypeError: 'range' object is not callable

In [211]:
empty_list = []
empty_list.append(1)
empty_list

[1]

In [214]:
empty_list.append(3)

In [217]:
empty_list.pop()

1

In [219]:
empty_list

[]

In [222]:
empty_list.append(1)

In [223]:
empty_list

[1]

In [224]:
empty_list.append(3)

In [225]:
empty_list

[1, 3]

In [226]:
empty_list.extend(["a","b","c"])

In [227]:
empty_list

[1, 3, 'a', 'b', 'c']

In [253]:
a = [1]
new_list = ["a", "b", "c"]

a = a+new_list
a

[1, 'a', 'b', 'c']

In [251]:
new_list.pop()

'c'

In [254]:
new_list

['a', 'b', 'c']

In [256]:
new_list.index("b")

1

In [261]:
new_list.count("b")

1

In [271]:
new_list.reverse()

In [272]:
new_list

['a', 'b', 'c']

In [273]:
sort_list = [3, 1, 5, 2, 3, 7, 9]
sort_list.sort()

In [274]:
sort_list

[1, 2, 3, 3, 5, 7, 9]

In [277]:
sort_list.reverse()

In [278]:
sort_list

[1, 2, 3, 3, 5, 7, 9]

# list 복사

In [302]:
list_a = [1,2,3,4]
list_a

[1, 2, 3, 4]

In [303]:
list_b = list_a.copy()
list_b

[1, 2, 3, 4]

In [305]:
a = 1
b = 3

In [306]:
a += 1
a
b += 3
b

6

In [307]:
list_b[2] = b
list_b

[1, 2, 6, 4]

In [308]:
list_a

[1, 2, 3, 4]


# 다차원 리스트

In [309]:
dim2_list = [[1,2],[3,4]]

In [310]:
dim2_list[0]

[1, 2]

In [311]:
dim2_list[0][1]

2

In [313]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

[[1, 2], [3, 4]]

In [314]:
a = (1,2,3)
b = list(a)
b[0] = 5
a

(1, 2, 3)

In [315]:
b

[5, 2, 3]

# 딕셔너리

In [27]:
a = {
    "name": "Tom",
    "score": 80,
    "average" : 65,
}
print(a)

{'name': 'Tom', 'score': 80, 'average': 65}

In [325]:
b = dict(name = "Tomy", score = 80, average = 43)
b

{'name': 'Tomy', 'score': 80, 'average': 43}

In [327]:
"name" in a

True

In [331]:
len(b)

3

In [42]:
c = dict(name = "Bread",
        score = [23,53,54],
        )
len(c)

2

In [339]:
b["score"] = 49
b

{'name': 'Tomy', 'score': 49, 'average': 43}

In [7]:
from pprint import pprint

In [10]:
pprint(c)

{'name': 'Bread', 'score': [23, 53, 54]}

# 값 추가하기

In [16]:
c["location"] = "Suwon"

In [17]:
c

{'name': 'Bread', 'score': [23, 53, 54], 'location': 'Suwon'}

In [18]:
c["location"] = "Seoul"

In [20]:
c

{'name': 'Bread', 'score': [23, 53, 54], 'location': 'Seoul'}

In [22]:
c.keys()

dict_keys(['name', 'score', 'location'])

In [23]:
c.values()

dict_values(['Bread', [23, 53, 54], 'Seoul'])

In [24]:
c.items()

dict_items([('name', 'Bread'), ('score', [23, 53, 54]), ('location', 'Seoul')])

In [31]:
c.clear()

In [32]:
c

{}

In [43]:
c.get("name")

'Bread'

In [44]:
c.get("weight")

In [38]:
c.get("weight", 72)
c.get("weight")

In [41]:
c

{'name': 'Bread', 'score': [23, 53, 54]}

# dictionary 2

In [46]:
c

{'name': 'Bread', 'score': [23, 53, 54]}

In [47]:
len(c)

2

In [48]:
"weight" in c

False

In [50]:
a_list =[1,2,3,4,5]
a_list

[1, 2, 3, 4, 5]

In [51]:
1 in a_list

True

In [52]:
6 in a_list

False

In [53]:
not 6 in a_list

True

In [54]:
"weight" not in c

True

In [55]:
c.setdefault("weight", 72)

72

In [56]:
c

{'name': 'Bread', 'score': [23, 53, 54], 'weight': 72}

In [58]:
c.setdefault("weight", 80)

# 값이 있을 경우 바뀌지 않는다.

72

In [59]:
c["weight"] = 80

In [60]:
c

{'name': 'Bread', 'score': [23, 53, 54], 'weight': 80}

In [61]:
c.update({"age" : 24, "birth" : 1212})

In [62]:
c

{'name': 'Bread',
 'score': [23, 53, 54],
 'weight': 80,
 'age': 24,
 'birth': 1212}

In [63]:
c.keys()

dict_keys(['name', 'score', 'weight', 'age', 'birth'])

In [64]:
c.values()

dict_values(['Bread', [23, 53, 54], 80, 24, 1212])

In [65]:
c.pop("weight")

80

In [66]:
c

{'name': 'Bread', 'score': [23, 53, 54], 'age': 24, 'birth': 1212}

# copy

In [13]:
a = list(range(5))

In [14]:
b = a.copy()
b

[0, 1, 2, 3, 4]

In [15]:
b[0] = 5
print(a)
print(b)

[0, 1, 2, 3, 4]
[5, 1, 2, 3, 4]

# set

In [71]:
animal = {"monkey","monkey", "dog", "rabbit"}
animal

{'dog', 'monkey', 'rabbit'}

# 집합 연산

In [72]:
s1 = {1,2,3}
s2 = {2,4,5}

In [73]:
print(s1&s2)

{2}

In [74]:
print(s1|s2)

{1, 2, 3, 4, 5}

In [75]:
print(s1 - s2)

{1, 3}

In [76]:
print(s2 - s1)

{4, 5}

In [77]:
a_str = "abcd"
"a" in a_str

True

In [79]:
print(s1^ s2)
# 대칭 차집합

{1, 3, 4, 5}

In [80]:
s1 = {1,2,3}
s2 = {0,1,2,3,4,5}

s1 <= s2

True

In [83]:
s1.issubset(s2)

True

In [84]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.isdisjoint(s2)

True

In [85]:
s1

{1, 2, 3}

In [86]:
s1.add(4)

In [87]:
s1

{1, 2, 3, 4}

In [88]:
s1.remove(1)

In [89]:
s1

{2, 3, 4}

In [90]:
s1.discard(3)

In [91]:
s1

{2, 4}

# 조건문 if

In [92]:
a = 10

if a == 5:
    print("a는 5입니다.")

if a == 10:
    print("a는 10입니다.")

a는 10입니다.

In [93]:
# pass문은 생각나지 않을 경우 사용

a = 10
if a == 10:
    pass

print("코드가 실행되었습니다.")

코드가 실행되었습니다.

In [94]:
str_1 = "Life is too short."

In [95]:
if str_1:
    print("실행되었습니다.")

실행되었습니다.

In [100]:
ㅣ1 = []

In [101]:
if l1:
    print("비었네?")

if not l1:
    print("비었어요.")

NameError: name 'l1' is not defined

In [103]:
if None:
    print("이건 None이에요.")

In [1]:
a = input("정수1: ")    
b = input("정수2: ")
c = input("정수3: ")

a = int(a)
b = int(b)
c = int(c)

if a not in range(101) or b not in range(101) or c not in range(101):
    print("잘못된 점수가 입력되었습니다.")
    
elif a > 65 and b > 65 and c > 65:
    print("합격")

else :
    print("불합격")

정수1: 67
정수2: 78
정수3: 67
합격

In [ ]:
a = int(input("정수를 입력해주세요 : "))

if a == 0:
    print("애매합니다.")
elif a % 2 == 0:
    print("짝수입니다.")
else :
    print("홀수입니다.")

# for문

In [1]:
for i in range(0,10):
    print("현재값: ",i)

현재값:  0
현재값:  1
현재값:  2
현재값:  3
현재값:  4
현재값:  5
현재값:  6
현재값:  7
현재값:  8
현재값:  9

In [2]:
for a in ["a", "b", "c", "d", "e"]:
    print(a)

a
b
c
d
e

In [6]:
a = int(input("정수를 입력하세요 : "))

for i in range(a):
    print("안녕")

정수를 입력하세요 : 4
안녕
안녕
안녕
안녕

In [15]:
a = int(input("정수를 입력하세요 : "))

for i in range(1, a+1):
    print("*"*(i))

정수를 입력하세요 : 3
*
**
***

In [19]:
a = int(input("정수를 입력하세요 : "))

for i in range(a, 0, -1):
    print("*"*(i))

정수를 입력하세요 : 3
***
**
*

# enumerate()

In [20]:
a = ["a", "b", "c", "d", "e"]

In [21]:
for idx, value in enumerate(a):
    print(idx,value,sep=",")

0,a
1,b
2,c
3,d
4,e

# for문 list, tuple, set

In [84]:
l1 = [1, 2, 3, 4]

for idx,val in enumerate(l1):
    a = val * 10
    print(a)
    l1[idx] *= 10
    
l1
    # index로 접근함

10
20
30
40

[10, 20, 30, 40]

# for문 dictionary

In [85]:
# key값으로 접근함

# for문의 중첩

In [53]:
x = [3,6,9,20,-7,5]

for idx, val in enumerate(x):
    x[idx] *= 10
print(x)

[30, 60, 90, 200, -70, 50]

In [73]:
x = [3,4,5,6,7,8]

for i in x:
    print(i)

3
4
5
6
7
8

In [59]:
y = {
    "math" : 70,
    "science" : 80,
    "english" : 20
}

for i in y:
    print(i, ":",y[i]+10)
    y[i] += 10
    
y

math : 80
science : 90
english : 30

{'math': 80, 'science': 90, 'english': 30}

In [83]:
a = int(input("값을 입력해주세요 : "))

for p in range(1,10):
        print(a, "*", p, "=", a*p)

값을 입력해주세요 : 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [95]:
a = [2,4,6,7,5,8]
b = 0
for i in a:
    a[b] *= 10
    b += 1
a

[20, 40, 60, 70, 50, 80]