In [ ]:
x = 10
a,b,c = 100,200,300
print(x)
print(a,b,c)

In [ ]:
x = 20
print(x)
print(a,b,c)

# 자료형

In [ ]:
type(10)

In [ ]:
type("안녕하세요")

# 연산자

In [ ]:
a = 10
b = 20

a*b

In [ ]:
a-b

In [ ]:
a+b

In [ ]:
a = 2
b = 3

a**b

In [ ]:
a**5

In [ ]:
a/3

In [ ]:
1+3*5

In [ ]:
(1+5)

In [ ]:
3 + 3.0

In [ ]:
x = 3
y = 3.0
z = x + y
print(z)

In [ ]:
type(z)

In [ ]:
a,b = 7, 3.0
c = a // b
d = a % b
e = a**b
print(c,d,e)

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
mike = 80
judy = 75
sera = 100

average = (mike + judy + sera)//3
print(average)

In [ ]:
a = "323432324"
print(type(a))

b = int(a)
print(type(b))

In [ ]:
True & False

In [ ]:
False | False

In [ ]:
 not True

In [ ]:
print(bool(1))
print(bool(0.0))
print(bool(1.0))
print(bool(0))

In [ ]:
num1 = int(input("입력1 : "))
num2 = int(input("입력2 : "))
num3 = int(input("입력3 : "))

print(num1>65 and num2>65 and num3>65)

# None

In [ ]:
x = None
print(x)
print(type(x))

In [ ]:
single = "안녕하세요."
print(single)
print(type(single))

In [ ]:
multi = """
안녕하세요.
잘 부탁드립니다.
"""

print(multi)
print(type(multi))

In [ ]:
a = 'hello'
b = 'world'
a+b

In [ ]:
a*3

In [ ]:
print('hi\\hello')

In [ ]:

quote = 'hello world!'
quote[-2]

In [ ]:
quote[:7]

In [ ]:
quote[1:7:2]

# 문자열 서식 문자

In [ ]:
name = "박지훈"
intro = "안녕하세요. 저는 %s입니다. "

print(intro % name)

a = 27.3
age = "제 나이는 %.3f입니다."
print(age % a)

In [ ]:
quote = "안녕하세요. 저는 {0:^10}이고, 키는 {1:^16}입니다." .format("박지훈", "190")
quote

In [ ]:

name = "박지훈"
loc = "수원"

intro = f"저는 {name}이고 {loc}에 삽니다."
intro

In [ ]:
a = "20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:22]

print(year, day, menu, money, sep = ' ')

In [ ]:
a = "90:30:80"

math = int(a[:2])
english = int(a[3:5])
science = int(a[6:8])

average = (math + english + science)//3
average

# 문자열 함수

In [ ]:
word = "Apple banana"
len(word)

In [ ]:
word.index('l')

In [ ]:
upper_word = word.upper()
upper_word.lower()

In [ ]:
word.replace("Ap", "DJ")

In [ ]:
word.count('a')

In [ ]:
word = "  " + word
word

In [ ]:
word.strip()

In [ ]:
word.strip()

In [ ]:
fruits = "pear, apple, mango, watermelon"
fruits_list = fruits.split(",")
fruits_list
type(fruits_list)
fruits_list[0]
size = len(fruits_list)
size

In [ ]:
"".join(fruits_list)

In [ ]:
a = "   90:30:80"

a_strip = a.strip()
score_list = a.split(":")

average = (int(score_list[0])+int(score_list[1])+int(score_list[2]))/len(score_list)
average

In [ ]:
a = [1,2,3,"a","b","c"]
type(a)

a[0] = 0
a

In [ ]:
my_tuple= (1,)
type(my_tuple)

# 연산자 보충

In [ ]:
a = 1
b = 2
a += 1
print(a)

In [ ]:
tuple_a = (1,2,3,4,"a")
type(tuple_a)

In [ ]:
dict_me = {
    "name": "박지훈",
    "height": 180,
    "address": "수원",
}
dict_me["height"]

In [ ]:
a = [1,2,3,4]
b = (1,2,3,4)

print(a[2])
print(b[1])

# range

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(2,10,2))

In [ ]:
list(range(5,-10,-1))

# 리스트

In [ ]:
list1 = ["a", "b", "c", "d"]

list1[3]

In [ ]:
list1[-2]

In [ ]:
list1[:2]

In [ ]:
list1[1] = 4
list1

In [ ]:
list1[1:3] = [1,2]
list1

In [ ]:
list1(range(1,10))

In [ ]:
empty_list = []
empty_list.append(1)
empty_list

In [ ]:
empty_list.append(3)

In [ ]:
empty_list.pop()

In [ ]:
empty_list

In [ ]:
empty_list.append(1)

In [ ]:
empty_list

In [ ]:
empty_list.append(3)

In [ ]:
empty_list

In [ ]:
empty_list.extend(["a","b","c"])

In [ ]:
empty_list

In [ ]:
a = [1]
new_list = ["a", "b", "c"]

a = a+new_list
a

In [ ]:
new_list.pop()

In [ ]:
new_list

In [ ]:
new_list.index("b")

In [ ]:
new_list.count("b")

In [ ]:
new_list.reverse()

In [ ]:
new_list

In [ ]:
sort_list = [3, 1, 5, 2, 3, 7, 9]
sort_list.sort()

In [ ]:
sort_list

In [ ]:
sort_list.reverse()

In [ ]:
sort_list

# list 복사

In [ ]:
list_a = [1,2,3,4]
list_a

In [ ]:
list_b = list_a.copy()
list_b

In [ ]:
a = 1
b = 3

In [ ]:
a += 1
a
b += 3
b

In [ ]:
list_b[2] = b
list_b

In [ ]:
list_a


# 다차원 리스트

In [ ]:
dim2_list = [[1,2],[3,4]]

In [ ]:
dim2_list[0]

In [ ]:
dim2_list[0][1]

In [ ]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

In [ ]:
a = (1,2,3)
b = list(a)
b[0] = 5
a

In [ ]:
b

# 딕셔너리

In [ ]:
a = {
    "name": "Tom",
    "score": 80,
    "average" : 65,
}
print(a)

In [ ]:
b = dict(name = "Tomy", score = 80, average = 43)
b

In [ ]:
"name" in a

In [ ]:
len(b)

In [ ]:
c = dict(name = "Bread",
        score = [23,53,54],
        )
len(c)

In [ ]:
b["score"] = 49
b

In [ ]:
from pprint import pprint

In [ ]:
pprint(c)

# 값 추가하기

In [ ]:
c["location"] = "Suwon"

In [ ]:
c

In [ ]:
c["location"] = "Seoul"

In [ ]:
c

In [ ]:
c.keys()

In [ ]:
c.values()

In [ ]:
c.items()

In [ ]:
c.clear()

In [ ]:
c

In [ ]:
c.get("name")

In [ ]:
c.get("weight")

In [ ]:
c.get("weight", 72)
c.get("weight")

In [ ]:
c

# dictionary 2

In [ ]:
c

In [ ]:
len(c)

In [ ]:
"weight" in c

In [ ]:
a_list =[1,2,3,4,5]
a_list

In [ ]:
1 in a_list

In [ ]:
6 in a_list

In [ ]:
not 6 in a_list

In [ ]:
"weight" not in c

In [ ]:
c.setdefault("weight", 72)

In [ ]:
c

In [ ]:
c.setdefault("weight", 80)

# 값이 있을 경우 바뀌지 않는다.

In [ ]:
c["weight"] = 80

In [ ]:
c

In [ ]:
c.update({"age" : 24, "birth" : 1212})

In [ ]:
c

In [ ]:
c.keys()

In [ ]:
c.values()

In [ ]:
c.pop("weight")

In [ ]:
c

# copy

In [ ]:
a = list(range(5))

In [ ]:
b = a.copy()
b

In [ ]:
b[0] = 5
print(a)
print(b)

# set

In [ ]:
animal = {"monkey","monkey", "dog", "rabbit"}
animal

# 집합 연산

In [ ]:
s1 = {1,2,3}
s2 = {2,4,5}

In [ ]:
print(s1&s2)

In [ ]:
print(s1|s2)

In [ ]:
print(s1 - s2)

In [ ]:
print(s2 - s1)

In [ ]:
a_str = "abcd"
"a" in a_str

In [ ]:
print(s1^ s2)
# 대칭 차집합

In [ ]:
s1 = {1,2,3}
s2 = {0,1,2,3,4,5}

s1 <= s2

In [ ]:
s1.issubset(s2)

In [ ]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.isdisjoint(s2)

In [ ]:
s1

In [ ]:
s1.add(4)

In [ ]:
s1

In [ ]:
s1.remove(1)

In [ ]:
s1

In [ ]:
s1.discard(3)

In [ ]:
s1

# 조건문 if

In [ ]:
a = 10

if a == 5:
    print("a는 5입니다.")

if a == 10:
    print("a는 10입니다.")

In [ ]:
# pass문은 생각나지 않을 경우 사용

a = 10
if a == 10:
    pass

print("코드가 실행되었습니다.")

In [ ]:
str_1 = "Life is too short."

In [ ]:
if str_1:
    print("실행되었습니다.")

In [ ]:
ㅣ1 = []

In [ ]:
if l1:
    print("비었네?")

if not l1:
    print("비었어요.")

In [ ]:
if None:
    print("이건 None이에요.")

In [ ]:
a = input("정수1: ")    
b = input("정수2: ")
c = input("정수3: ")

a = int(a)
b = int(b)
c = int(c)

if a not in range(101) or b not in range(101) or c not in range(101):
    print("잘못된 점수가 입력되었습니다.")
    
elif a > 65 and b > 65 and c > 65:
    print("합격")

else :
    print("불합격")

In [ ]:
a = int(input("정수를 입력해주세요 : "))

if a == 0:
    print("애매합니다.")
elif a % 2 == 0:
    print("짝수입니다.")
else :
    print("홀수입니다.")

# for문

In [ ]:
for i in range(0,10):
    print("현재값: ",i)

In [ ]:
for a in ["a", "b", "c", "d", "e"]:
    print(a)

In [ ]:
a = int(input("정수를 입력하세요 : "))

for i in range(a):
    print("안녕")

In [ ]:
a = int(input("정수를 입력하세요 : "))

for i in range(1, a+1):
    print("*"*(i))

In [ ]:
a = int(input("정수를 입력하세요 : "))

for i in range(a, 0, -1):
    print("*"*(i))

# enumerate()

In [ ]:
a = ["a", "b", "c", "d", "e"]

In [ ]:
for idx, value in enumerate(a):
    print(idx,value,sep=",")

# for문 list, tuple, set

In [ ]:
l1 = [1, 2, 3, 4]

for idx,val in enumerate(l1):
    a = val * 10
    print(a)
    l1[idx] *= 10
    
l1
    # index로 접근함

# for문 dictionary

In [ ]:
# key값으로 접근함

# for문의 중첩

In [ ]:
x = [3,6,9,20,-7,5]

for idx, val in enumerate(x):
    x[idx] *= 10
print(x)

In [ ]:
x = [3,4,5,6,7,8]

for i in x:
    print(i)

In [ ]:
y = {
    "math" : 70,
    "science" : 80,
    "english" : 20
}

for i in y:
    print(i, ":",y[i]+10)
    y[i] += 10
    
y

In [ ]:
a = int(input("값을 입력해주세요 : "))

for p in range(1,10):
        print(a, "*", p, "=", a*p)

In [20]:
a = int(input("값을 입력해주세요 : "))

for p in range(1,10):
    print("{0} * {1} = {2}". format(a,p,a*p))

값을 입력해주세요 : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
a = [2,4,6,7,5,8]
b = 0
for i in a:
    a[b] *= 10
    b += 1
a

In [7]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]
new_word = word.copy()

for idx, value in enumerate(word):
   
    if len(word[idx]) < 6:
        new_word.remove(value)
    else:
        pass
new_word

['school', 'science', 'mountain']

In [26]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]
new_word = []
for idx, value in enumerate(word):
    if len(word[idx]) >= 6:
        new_word = [value]
        
        
        
new_word

['mountain']

In [29]:
a = int(input("숫자를 입력하세요 : "))

for i in range(1,a+1):
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 공배수입니다.")
    elif i % 3 == 0:
        print("3의 배수입니다.")
    elif i % 5 == 0:
        print("5의 배수입니다.")
    else:
        print(i)

숫자를 입력하세요 : 12
1
2
3의 배수입니다.
4
5의 배수입니다.
3의 배수입니다.
7
8
3의 배수입니다.
5의 배수입니다.
11
3의 배수입니다.